<nav class="nav-bar">
    <button class="fs-2">
        Modern Threads
    </button>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="/create">Create</a></li>
    </ul>
    <form>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for products...">
    </form>
    <div>
        <i class="fa-solid fa-cart-shopping"><sup><span id="sup-item">2</span></sup></i>
        <i class="fa-regular fa-user"></i>
        <div id="menu-toggle" class="toggle-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
