<nav class="nav-bar">
    <button class="fs-2">
        Modern Threads
    </button>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="/create">Create</a></li>
    </ul>
    <form>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for products...">
    </form>
    <div>
        <% if(user){ %>
            <a href="/cart"><i class="fa-solid fa-cart-shopping"><sup><span id="sup-item">2</span></sup></i></a>
            <a href="#"><i class="fa-regular fa-user"></i></a>
            <% }else{ %>
                <a href="/auth/logout"><i class="fa-regular fa-user"></i>Logout</a>
                <% } %>

    </div>
</nav>